zitadel_domain = "localhost"
zitadel_port = 9500
insecure = true
org_name = "devenv"
org_domain = "devenv.localhost"
project_name = "devenv"
api_app_name = "devenv-api"
oidc_app_name = "devenv-oidc"
# TODO: figure out a better way to get the project root
state_dir = "../../.devenv/state/zitadel"

# redirect_uris = [
#   "http://localhost:1234/",
#   # Add your additional redirect URIs here
# ]
# post_logout_redirect_uris = [
#   "http://localhost:1234/",
#   # Add your additional post logout redirect URIs here
# ]

# Uncomment and fill these to enable GitHub IdP integration
# Or use TF_VAR_name environment variables.
# github_client_id = ""
# github_client_secret = ""
